- title = "Cal Raijin Taiko"
- description = "Founded in 2005, Cal Raijin Taiko is UC Berkeley's Japanese drumming performance ensemble."
- image = URI.join(root_url, image_path("logo.png"))

- meta title: title,
  description: description,
  og: { title: title, description: description, image: image,
  url: root_url }

%header
  %h1.link-header
    = link_to "NEWS", "/news"
    - if user_signed_in?
      = link_to image_tag("icons/add.png"), new_article_path

= render "articles/news_feed", articles: @articles

%header
  %h2.link-header
    = link_to "UPCOMING PERFORMANCES", "/performances/upcoming"
    - if user_signed_in?
      = link_to image_tag("icons/add.png"), new_performance_path

= render "performances/performances_feed", performances: @performances

#fb-stuff
  #fb-feed
    .fb-like-box(data-href="https://www.facebook.com/calraijintaiko" data-width="900" data-height="600" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="true")

  #fb-faces
    .fb-facepile(data-href="https://www.facebook.com/calraijintaiko" data-width="900" data-max-rows="2" data-colorscheme="light" data-size="medium" data-show-count="true")
