- title = "Cal Raijin Taiko"
- description = "Founded in 2005, Cal Raijin Taiko is UC Berkeley's Japanese drumming performance ensemble."
- image = URI.join(root_url, image_path("logo.png"))

- meta title: title,
  description: description,
  og: { title: title, description: description, image: image, url: root_url }

.row
  = image_tag("banner.png", class: "small-12 column")

%header.row
  %h1.small-10.column
    = link_to "NEWS", "/news"
  - if user_signed_in?
    = link_to "Add Article", new_article_path,
      class: "button small round hide-for-medium-down large-1 column"

= render "articles/news_feed", articles: @articles

%header.row
  %h1
    = link_to "UPCOMING PERFORMANCES", "/performances/upcoming"
  - if user_signed_in?
    = link_to "Add Performance", new_performance_path,
      class: "button small round hide-for-medium-down large-2 column"

= render "performances/performances_feed", performances: @performances


%header.row.hide-for-medium-down
  %h1.small-12.column
    = link_to "FACEBOOK", "https://www.facebook.com/calraijintaiko"

#fb-root
.row
  #fb-stuff.column.large-12.hide-for-medium-down
    #fb-feed
      .fb-like-box(data-href="https://www.facebook.com/calraijintaiko" data-width="970" data-height="600" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="true")
