:ruby
  title = 'Contact Us | Cal Raijin Taiko'
  description = 'Contact Cal Raijin Taiko by email or online to book a' \
    ' performance or receive an estimate. We\'ll be sure to get back to' \
    ' you as soon as possible!'
  image = URI.join(root_url, image_path('logo.png'))

  meta title: title,
       description: description,
       og: { title: title, description: description, image: image,
             url: request.original_url }

.banner-image.static-page-banner
  = image_tag('contact_page_banner.jpg')
  .text.row.show-for-medium-up
    .column.large-12
      %h1.title Contact Us

.row
  .column.small-12.hide-for-medium-up
    %h1.article-title Contact Us
  .small-12.medium-7.column.text-left
    .row
      .column.small-11
        .row.contact-form
          .column.small-12
            %p
              Thank you for reaching out to us! Please fill out and submit the
              contact form below, and we'll get back to you as soon as possible.
          = form_for @message, method: :post, url: contact_path do |f|

            .small-12.column
              .row.collapse.prefix-radius
                .column.small-2
                  %span.prefix Name
                .column.small-10
                  = f.text_field :name, placeholder: 'Your Name'

            .small-12.column
              .row.collapse.prefix-radius
                .column.small-2
                  %span.prefix Email
                .column.small-10
                  = f.email_field :email, placeholder: 'Your Email'

            .small-12.column
              = f.text_area :content, placeholder: 'Message'

            .small-12.column
              .switch.round
                %span.left Is this a performance request?
                %input#message_performance_request{ type: 'checkbox',
                  name: 'message[performance_request]', checked: '' }
                %label{ for: 'message_performance_request' }
                  %span.switch-on Yes
                  %span.switch-off No
            .small-12.column
              %paper-button.send.btn.with-icon{ raised: '',
                onclick: 'submitForm("new_message")' }
                %iron-icon{ icon: 'send' }
                Send

  .column.small-12.medium-5
    .row
      .column.small-12
        .row
          %h3.column.small-12 Find us on social media!
          .social-media
            .column.small-4
              = link_to 'https://www.facebook.com/calraijintaiko' do
                %i.fi-social-facebook
            .column.small-4
              = link_to 'http://instagram.com/calraijintaiko' do
                %i.fi-social-instagram
            .column.small-4
              = link_to 'https://www.youtube.com/user/CALtaiko/' do
                %i.fi-social-youtube

      .column.small-12
        = image_tag('team_playing.jpg', class: 'team-pic')
