<h2>Sign up</h2>

<div id="register-screen">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div id="login-info-field">
    <div id="username-field">
      <p><%= f.label :username %><br />
	<%= f.text_field :username %></p>
    </div>
    <div id="email-field">
      <p><%= f.label :email %><br />
	<%= f.email_field :email %></p>
    </div>
  </div>

  <div id="password-field">
    <div id="make-password">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div id="confirm-password">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <div id="sign-in-sign-up">
    <div id="sign-up"><%= f.submit "Sign up" %></div>
    <% end %>

    <div id="sign-in">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
