= simple_form_for(@article) do |f|
  .row
    = f.error_notification

    .form-inputs
      .column.small-8
        = f.input :title
      .column.small-4
        = f.input :date, discard_hour: true, order: [:month, :day, :year]
      .column.small-12
        = f.input :text
      .column.small-12
        = f.input :current

    .column.small-5.large-4
      = f.button :submit, class: "button small"
    .column.small-7.large-8
      = link_to "Cancel", performances_path, class: "button small disabled"
