= simple_form_for(@article) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :date, discard_hour: true, order: [:month, :day, :year]
    = f.input :text
    = f.input :current

  .form-actions
    = f.button :submit
