.row
  .small-12.column
    %article.article
      .row
        %h3.small-12.large-10.column= article.title
        - if user_signed_in?
          .icons.hide-for-medium-down.column.large-2
            = link_to article_path(article), method: :delete, class: 'right',
              data: { confirm: "Delete article '#{article.title}'?" } do
              %i.fi-trash
            = link_to edit_article_path(article), class: 'right' do
              %i.fi-pencil

      %small= article.safe_date
      .article-image.row
        = image_tag article.image.url(:carousel), class: 'column small-12'
      :markdown
        #{article.text}
