- banner = image_tag(article.image.url(:carousel), itemprop: 'image')

.banner-image
  = banner
  .text.row.show-for-large-up
    .column.large-12
      %p.subtitle
        %time{ itemprop: 'startDate',
        datetime: article.date.iso8601.to_s }
          = article.safe_date
      %h1.title= article.title

.row.article
  .column.small-12.hide-for-large-up
    %h1.article-title= article.title
    %p.article-date= article.safe_date

  .small-12.column.article-text
    :markdown
      #{article.text}

  - if user_signed_in?
    .small-12.column
      .icons
        .row
          = link_to edit_article_path(article),
            class: 'column small-12 medium-6' do
            %i.fi-pencil
            %span.icon-text Edit this article

          = link_to article_path(article), method: :delete,
            class: 'column small-12 medium-6',
            data: { confirm: "Delete article '#{article.title}'?" } do
            %i.fi-trash
            %span.icon-text Delete this article
