%paper-card{ image: article.image.url(:thumb) }
  .card-content
    .article-title= article.title
    .article-snippet
      :markdown
        #{article.snippet}
    = link_to 'Continue reading', article_path(article),
      class: 'continue-reading'
  - if user_signed_in?
    .card-actions
      = link_to edit_article_path(article) do
        %paper-button.edit.btn{ raised: '' } Edit
      = link_to article_path(article), method: :delete,
        data: { confirm: "Delete article '#{article.title}'?" } do
        %paper-button.delete.btn{ raised: '' } Delete
