%p#notice= notice

%p
  %b Title:
  = @article.title
%p
  %b Date:
  = @article.date
%p
  %b Text:
  = @article.text
%p
  %b Current:
  = @article.current

= link_to 'Edit', edit_article_path(@article)
\|
= link_to 'Back', articles_path
