= simple_form_for(@video) do |f|
  .row
    .column.small-10
      = f.input :title, placeholder: "Video Title"

    .column.small-2
      = f.input :year, placeholder: "Video Year"

    .column.small-12
      = f.input :link, placeholder: "Video Link"

    .column.small-12
      = f.button :submit, class: "button small"
