= simple_form_for(@video) do |f|
  .row
    .column.small-10
      = f.input :title, placeholder: "Video Title"

    .column.small-2
      = f.input :year, placeholder: "Video Year"

    .column.small-12
      = f.input :link, placeholder: "Video Link"

    .column.small-5.large-4
      = f.button :submit, class: "button small"
    .column.small-7.large-8
      = link_to "Cancel", performances_path, class: "button small disabled"
