<%= form_for(setup_performance(@performance)) do |f| %>
  <% if @performance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@performance.errors.count, "error") %> prohibited this performance from being saved:</h2>

      <ul>
      <% @performance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="date-select">
    <%= f.label :date %><br>
    <%= f.datetime_select :date, ampm: true, minute_step: 15 %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <p>
    <%= f.label :banner %><br>
    <%= f.file_field :banner %>
    <%= f.label :delete_banner %>
    <%= f.check_box :delete_banner %>
  </p>

  <h1>Videos</h1>
  <section class="perf-videos">
    <%= f.fields_for :performance_videos do |ff| %>
    <article class="video-form">
      <div class="field">
        <%= ff.label :title %><br>
        <%= ff.text_field :title %>
      </div>
      <div class="field">
        <%= ff.label :link %><br>
        <%= ff.text_field :link %>
      </div>

      <% if ff.object.persisted? %>
      <div class="delete?">
        <%= ff.check_box :_destroy %>
        <%= ff.label :_destroy, "Destroy" %>
      </div class="delete?">
      <% end %>
    </article>
    <% end %>
  </section>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
