:ruby
  title = 'Cal Raijin Taiko'
  description = "Founded in 2005, Cal Raijin Taiko is UC Berkeley's Japanese"\
                ' drumming performance ensemble.'
  image = URI.join(root_url, image_path('logo.png'))

  meta title: title, description: description,
       og: { title: title, description: description, image: image,
             url: root_url }

#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&" +
      "version=v2.4&appId=699325996783664";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

.row
  .column.medium-2.hide-for-small
    %p
  = image_tag('banner.png', class: 'small-12 medium-8 column')
  .column.medium-2.hide-for-small
    %p

.row.group-description
  .column.small-12.text-justify
    :markdown
      Welcome! We are **Cal Raijin Taiko**, U.C. Berkeley's Japanese drumming
      performance ensemble. Founded in 2005, we perform for both the campus
      community and beyond to spread the **knowledge**, **love**, and
      **passion** of taiko.

- if @articles.length > 0
  %header.row
    %h1.small-10.column
      = link_to 'NEWS', articles_path
    - if user_signed_in?
      = link_to 'Add Article', new_article_path,
        class: 'button small round hide-for-medium-down large-1 column'

  .news.row
    .carousel.column.small-12
      %ul{ data: { orbit: '' } }
        - @articles.each do |article|
          %li
            %a{ href: "#{article_path(article)}" }
              = image_tag article.image.url(:carousel)
            .orbit-caption
              = article.title

%header.row
  %h1.small-10.column
    = link_to 'UPCOMING PERFORMANCES', '/performances/upcoming'
  - if user_signed_in?
    = link_to 'Add Performance', new_performance_path,
      class: 'button small round hide-for-medium-down large-2 column'

= render 'performances/performances_feed', performances: @performances


.row.hide-for-small-down
  .column.small-12.large-6
    %h1
      = link_to 'FACEBOOK', 'https://www.facebook.com/calraijintaiko'
    .fb-page{ data: { href: 'https://www.facebook.com/calraijintaiko',
      width: '480px', height: '685px', small_header: 'false',
      adapt_container_width: 'true', hide_cover: 'false',
      show_facepile: 'true', show_posts: 'true' } }
      .fb-xfbml-parse-ignore
        %blockquote{ cite: 'https://www.facebook.com/calraijintaiko' }
          = link_to 'Cal Raijin Taiko',
            'https://www.facebook.com/calraijintaiko'

  .column.small-12.large-6
    %h1
      = link_to 'INSTAGRAM', 'https://instagram.com/calraijintaiko/'
    %iframe#instagram-feed{ allowtransparency: 'true',
      src: 'http://widget.websta.me/in/calraijintaiko/?s=100&w=4&h=6&b=1&p=5',
      frameborder: '0', scrolling: 'no' }
