:ruby
  title = 'Cal Raijin Taiko'
  description = "Founded in 2005, Cal Raijin Taiko is UC Berkeley's Japanese"\
                ' drumming performance ensemble.'
  image = URI.join(root_url, image_path('logo.png'))

  meta title: title, description: description,
       og: { title: title, description: description, image: image,
             url: root_url }

  facebook_feed_src = 'https://www.facebook.com/calraijintaiko'
  instagram_feed_src = 'https://snapwidget.com/in/?u=Y2FscmFpamlu' \
    'dGFpa298aW58MTAwfDR8Nnx8eWVzfDV8bm9uZXxvblN0YXJ0fHllc3xubw==&ve=090516'

:javascript
  $(document).on('page:change', function() {
    $('.slick-carousel').slick({
      dots: true,
      autoplay: true,
      autoplaySpeed: 6000
    });
  });

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&" +
      "version=v2.4&appId=699325996783664";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

= stylesheet_link_tag 'slick', media: 'all', 'data-turbolinks-track' => true
= stylesheet_link_tag 'slick-theme', media: 'all',
  'data-turbolinks-track' => true

#fb-root

.row
  .column.medium-2.hide-for-small
    %p
  = image_tag('banner.png', class: 'small-12 medium-8 column')
  .column.medium-2.hide-for-small
    %p

.row.group-description
  .column.small-12.text-justify
    :markdown
      Welcome! We are **Cal Raijin Taiko**, U.C. Berkeley's Japanese drumming
      performance ensemble. Founded in 2005, we perform for both the campus
      community and beyond to spread the **knowledge**, **love**, and
      **passion** of taiko.

- unless @articles.empty?
  %header.row
    %h1.small-12.column
      = link_to 'NEWS', articles_path
      - if user_signed_in?
        .right
          = render 'layouts/button_link', link: new_article_path,
            tooltip: 'Create a new article', link_class: 'add-button',
            button: 'plus'

  %section.news
    .row
      .slick-carousel.column.small-12
        - @articles.each do |article|
          .carousel-item
            %a{ href: article_path(article) }
              = image_tag article.image.url(:carousel)
            .caption
              = article.title

%header.row
  %h1.small-12.column
    = link_to 'UPCOMING PERFORMANCES', '/performances/upcoming'
    - if user_signed_in?
      .right
        = render 'layouts/button_link', link: new_performance_path,
          tooltip: 'Create a new performance', link_class: 'add-button',
          button: 'plus'

= render 'performances/performances_feed', performances: @performances


.row.hide-for-small-down
  .column.small-12.large-6
    %h1
      = link_to 'FACEBOOK', facebook_feed_src
    .fb-page{ data: { href: facebook_feed_src,
      width: '480px', height: '685px', small_header: 'false',
      adapt_container_width: 'true', hide_cover: 'false',
      show_facepile: 'true', show_posts: 'true' } }
      .fb-xfbml-parse-ignore
        %blockquote{ cite: facebook_feed_src }
          = link_to 'Cal Raijin Taiko',
            facebook_feed_src

  .column.small-12.large-6
    %h1
      = link_to 'INSTAGRAM', 'https://instagram.com/calraijintaiko/'
    %iframe#instagram-feed{ allowtransparency: 'true',
      src: instagram_feed_src, frameborder: '0', scrolling: 'no' }
