<%= link_to "Home", root_url  %>

<h1>Past Performances</h1>
 
<table>
  <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Location</th>
    <th>Description</th>
  </tr>
 
  <% @past_performances.each do |past_performance| %>
    <tr>
      <td><%= past_performance.date %></td>
      <td><%= past_performance.title %></td>
      <td><%= past_performance.location %></td>
      <td><%= past_performance.description %></td>
      <td><%= link_to 'Show', past_performance_path(past_performance) %></td>
      <td><%= link_to 'Edit', edit_past_performance_path(past_performance) %></td>
      <td><%= link_to 'Delete', past_performance_path(past_performance),
              method: :delete, data: { confirm: 'Are you sure you\'d like to delete past performance "' + past_performance.title + '"?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Add Past Performance", new_past_performance_path %>
