<%
   title = @member.name + " | Cal Raijin Taiko"
   description = "View the member bio for " + @member.name
   image = @member.avatar.url(:full)

   meta title: title,
   description: description,
   og: {
   title: title,
   description: description,
   image: image,
   url: root_url + "members/" + @member.slug
   }
   %>


<article class="individual">
  <%= image_tag @member.avatar.url(:full) %>

  <div class="bio-block">

    <section class="bio-info">
      <p>
        <strong>Name:</strong>
        <%= @member.name %>
      </p>
      <p>
        <strong>Gen:</strong>
        <%= number_with_precision(@member.gen, precision: 0) %>
      </p>
      <p>
        <strong>Major:</strong>
        <%= @member.major %>
      </p>

      <p><%= @member.bio %></p>
    </section>

    <% if user_signed_in? %>
    <section class="edit-icons">
      <%= link_to image_tag("icons/edit.png"), edit_member_path(@member) %>
      <%= link_to image_tag("icons/delete.png"), member_path(@member),
          method: :delete, data: { confirm: "Are you sure you'd like to delete member '" + @member.name + "'?" } %>
    </section>
    <% end %>

  </div>
</article>

<nav class="nav-buttons">
  <%= link_to image_tag("icons/back.png"), members_path %>
</nav>

