<h2>Sign in</h2>

<div class="login-screen">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div id="login-field">
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </div>

  <div id="password-field">
      <%= f.label :password, :id => "passwrd" %><br />
      <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div id="bottom-buttons">
    <div id="sign-in-butt"><%= f.submit "Sign in" %></div>
    <% end %>
    <div id="forgot-pass-link">
      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>
