= form_for(performance_video) do |f|
  - if performance_video.errors.any?
    #error_explanation
      %h2
        = pluralize(performance_video.errors.count, "error")
        prohibited this performance video from being saved:
      %ul
        - performance_video.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    %br
    = f.text_field :title

  .field
    = f.label :link
    %br
    = f.text_field :link

  %p= Performance.find(performance_video.performance_id).title

  .actions
    = f.submit
