<h2 class="form-header">Editing performance video</h2>

<%= form_for(@performance_video) do |f| %>
  <% if @performance_video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@performance_video.errors.count, "error") %> prohibited this performance_video from being saved:</h2>

      <ul>
      <% @performance_video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field" id="perf-slug">
    <%= f.label :performance_slug %><br>
    <%= f.text_field :performance_slug %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<nav class="nav-buttons">
  <%= link_to image_tag("icons/back.png"), performances_path %>
</nav>
