- title = "Performance Videos | Cal Raijin Taiko"
- description = "View all performance videos."
- image = URI.join(root_url, image_path("logo.png"))

- meta title: title,
  description: description,
  og: { title: title, description: description, image: image,
  url: request.original_url }

%header
  %h2 Performance Videos
  - if user_signed_in?
    = link_to image_tag("icons/add.png"), new_performance_video_path

%table#perf-vids
  %thead
    %tr
      %th Performance
      %th Year
      %th Title
      %th Link
      %th{ colspan: "3" }

  %tbody
    - @performance_videos.each do |performance_video|
      %tr
        - perf = Performance.find(performance_video.performance_id)
        %td= link_to perf.title, performance_path(perf)
        %td= perf.date.year
        %td= performance_video.title
        %td= link_to performance_video.link, performance_video.link, target: "_blank"
        %td= link_to 'Show', performance_video
        %td= link_to 'Edit', edit_performance_video_path(performance_video)
        %td= link_to 'Destroy', performance_video, method: :delete,
          data: { confirm: "Are you sure you'd like to delete video #{performance_video.title}?" }
