<header>
  <h2>Listing Performance Videos</h2>
</header>

<table id="perf-vids">
  <thead>
    <tr>
      <th>Performance</th>
      <th>Title</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @performance_videos.each do |performance_video| %>
      <tr>
        <td><%= performance_video.performance_id %></td>
        <td><%= performance_video.title %></td>
        <td><%= link_to performance_video.link, performance_video.link, target: "_blank" %></td>
        <td><%= link_to 'Show', performance_video %></td>
        <td><%= link_to 'Edit', edit_performance_video_path(performance_video) %></td>
        <td><%= link_to 'Destroy', performance_video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
