- banner = image_tag(performance.banner.url(:display), itemprop: 'image')

%paper-card.performance-card
  .performance-image
    = link_to banner, performance
    = link_to 'VIEW EVENT', performance,
      class: 'text-link'
  .card-content
    .performance-details
      %time.subtitle{ itemprop: 'startDate',
        datetime: "#{performance.date.iso8601}" }
        = performance.display_datetime
      %h2.title= performance.title
  - if user_signed_in?
    .card-actions
      = link_to edit_performance_path(performance) do
        %paper-button.edit.btn.with-icon
          %iron-icon{ icon: 'create' }
          Edit
      = link_to performance_path(performance), method: :delete,
        data: { confirm: "Delete performance '#{performance.title}'?" } do
        %paper-button.delete.btn.with-icon
          %iron-icon{ icon: 'clear' }
          Delete
