= form_for(setup_performance(@performance)) do |f|
  - if @performance.errors.any?
    #error_explanation
      %h2
        = pluralize(@performance.errors.count, "error")
        prohibited this performance from being saved:
      %ul
        - @performance.errors.full_messages.each do |msg|
          %li= msg

  .field#date-select
    = f.label :date
    %br
    = f.datetime_select :date, ampm: true, minute_step: 15

  .field
    = f.label :title
    %br
    = f.text_field :title

  .field
    = f.label :location
    %br
    = f.text_field :location

  .field
    = f.label :link
    %br
    = f.text_field :link

  .field
    = f.label :description
    %br
    = f.text_area :description

  %p
    = f.label :banner
    %br
    = f.file_field :banner
    = f.label :delete_banner
    = f.check_box :delete_banner

  %h1 Videos
  %section.perf-videos
    = f.fields_for :performance_videos do |ff|
      %article.video-form
        .field
          = ff.label :title
          %br
          = ff.text_field :title

        .field
          = ff.label :link
          %br
          = ff.text_field :link

          - if ff.object.persisted?
            .delete?
            = ff.check_box :_destroy
            = ff.label :_destroy, "Destroy"

  .actions
    = f.submit
