= simple_form_for(setup_performance(@performance)) do |f|

  = f.input :date, start_year: 2005, end_year: Time.new.year, ampm: true, minute_step: 15

  = f.input :title

  = f.input :location

  = f.input :link

  = f.input :description

  = f.input :banner
  = f.input :delete_banner, as: :boolean

  %h1 Videos
  %section.perf-videos
    = f.simple_fields_for :performance_videos do |ff|
      %article.video-form
        = ff.input :title

        = ff.input :link

        - if ff.object.persisted?
          = ff.input :_destroy, as: :boolean

  = f.button :submit
