- banner = image_tag(performance.banner.url(:display), itemprop: 'image')

.performance-banner
  = banner
  .text.row
    .column.small-12
      %p.performance-datetime
        %time{ itemprop: 'startDate',
        datetime: "#{performance.date.iso8601}" }
          = performance.display_datetime
      %h1.performance-title= performance.title

.row
  .column.small-12.medium-6.large-5.performance-description
    %p= performance.description

  .column.small-12.medium-6.large-7.performance-location
    %p.where{ itemprop: 'location' }= performance.location

    .performance-map
      %iframe{ width: '600', height: '450', frameborder: '0',
        style: 'border: 0', allowfullscreen: '',
        src: performance.google_maps_embed_url }
