<article class="performance">
  <div class="performance-deets">
    <h3><%= performance.title %></h3>
    <div class="when">
      <p>
        <strong>When:</strong>
        <% if performance.date.to_date >= Time.new %>
        <%= performance.date.strftime("%A, %B %d, %I:%M%p") %>
        <% else %>
        <%= performance.date.strftime("%m/%d/%Y, %I:%M%p") %>
        <% end %>
      </p>
    </div>
    <div class="where">
      <p>
        <strong>Where:</strong>
        <%= performance.location %>
      </p>
    </div>
  </div>

  <%= image_tag performance.banner.url(:display) %>

  <p class="description"><%= performance.description %></p>

</article>
