<article class="performance">

  <div class="performance-image">
    <%= link_to image_tag(performance.banner.url(:display)), performance_path(performance) %>
    <p>
      <%= performance.description %><br>
      <a href="<%= performance.link %>">VIEW EVENT</a>
    </p>
  </div>

  <div class="performance-deets">
    <h3><%= performance.title.upcase %></h3>
    <p>
      <% if performance.date.to_date >= Time.new %>
      <%= performance.date.strftime("%A, %B %d, %l:%M%p").upcase %> | <%= performance.location.upcase %>
      <% else %>
      <%= performance.date.strftime("%m/%d/%Y, %l:%M%p").upcase %> | <%= performance.location.upcase %>
      <% end %>
    </p>
  </div>

</article>
