%article.performance(itemscope itemtype="http://data-vocabulary.org/Event")
  .performance-image
    = link_to image_tag(performance.banner.url(:display), itemprop: "photo"),
      performance.link, target: "_blank", itemprop: "url"
    %p(itemprop="description")
      = performance.description
      %br
      %br
      = link_to "VIEW EVENT", performance.link

  %section.performance-deets
    %h3(itemprop="summary")= performance.title.upcase
    - if performance.upcoming?
      %p(itemprop="startDate" datetime="#{performance.date.to_time.iso8601}")= performance.date.strftime("%A, %B %d, %l:%M%p").upcase
      %p.spacer= "|"
      %p(itemprop="location")= performance.location.upcase
    - else
      %p(itemprop="startDate" datetime="#{performance.date.to_time.iso8601}")= performance.date.strftime("%A, %B %d, %Y, %l:%M%p").upcase
      %p.spacer= "|"
      %p(itemprop="location")= performance.location.upcase

  %section.edit-icons
    - if controller.action_name != "show"
      = link_to image_tag("icons/view.png"), performance_path(performance)
    - if user_signed_in?
      = link_to image_tag("icons/edit.png"), edit_performance_path(performance)
      = link_to image_tag("icons/delete.png"),
        performance_path(performance), method: :delete,
        data: { confirm: "Are you sure you'd like to delete performance #{performance.title}?" }
