<section class="thumbnail-feed">
  <% if performances.length > 0 %>
  <% performances.each do |performance| %>
  <article class="thumb-performance">
    <%= link_to image_tag(performance.banner.url(:thumb)), performance_path(performance) %>
    <section class="details">
      <p>
        <strong>
          <% if performance.title.length < 35 %>
             <%= performance.title %>
          <% else %>
             <%= performance.title[0, 30] + " ..." %>
          <% end %>
        </strong>
      </p>
      <p>
        <%= performance.date.strftime("%m/%d/%Y") %>
      </p>
      <% if user_signed_in? %>
      <nav class="nav-buttons">
        <%= link_to 'Edit', edit_performance_path(performance) %>
        <%= link_to 'Delete', performance_path(performance),
            method: :delete, data: { confirm: 'Are you sure you\'d like to delete performance "' + performance.title + '"?' } %>
      </nav>
    </section>
    <% end %>
  </article>
  <% end %>
  <% else %>
  <div class="text-wrapper">
    <p>Stay tuned for more information soon!</p>
  </div>
  <% end %>
</section>
