<%
   title = "Performances | Cal Raijin Taiko"
   description = "Cal Raijin Taiko's upcoming and past performances."
   image = URI.join(root_url, image_path("logo.png"))

   meta title: title,
   description: description,
   og: {
   title: title,
   description: description,
   image: image,
   url: root_url + "performances"
   }
%>

<header>
  <h1 class="link-header"><%= link_to "UPCOMING PERFORMANCES", '/performances/upcoming' %></h1>
</header>
<%= render 'performances_feed', performances: @upcoming %>

<header>
  <h2 class="link-header"><%= link_to "PAST PERFORMANCES", '/performances/past' %></h2>
</header>
<%= render 'thumbnail_feed', performances: @past %>

<% if user_signed_in? %>
<div class="add-new">
  <%= link_to image_tag("icons/add.png"), new_performance_path %>
</div>
<% end %>
