:ruby
  title = 'Performances | Cal Raijin Taiko'
  description = "Cal Raijin Taiko's upcoming and past performances." \
    " Since our founding in 2005, Cal Raijin Taiko has performed at" \
    " community and campus events all across the Bay Area."
  image = URI.join(root_url, image_path('logo.png'))

  meta title: title, description: description,
       og: { title: title, description: description, image: image,
             url: request.original_url }

%header.row
  %h1.column.small-10
    = link_to 'UPCOMING PERFORMANCES', upcoming_performances_path
  - if user_signed_in?
    = link_to 'Add Performance', new_performance_path,
      class: 'button small round column hide-for-medium-down large-2'

= render 'performances_feed', performances: @upcoming

%header.row
  %h1.column.small-10
    = link_to 'PAST PERFORMANCES', past_performances_path
  - if user_signed_in?
    = link_to 'Add Performance', new_performance_path,
      class: 'button small round hide-for-medium-down large-2 column'

= render 'layouts/accordion', by_year: @by_year, active_year: @active_year,
  partial: 'performances/thumbnail_feed', id: 1
