<h2 class="link-header"><%= link_to "Upcoming Performances", '/performances/upcoming' %></h2>
<%= render 'performances_feed', performances: @upcoming %>

<h2 class="link-header"><%= link_to "Past Performances", '/performances/past' %></h2>
<%= render 'performances_feed', performances: @past %>

<% if user_signed_in? %>
<div class="add-new">
  <%= link_to "Add Performance", new_performance_path %>
</div>
<% end %>
