<%
   title = "Cal Raijin Taiko | Performances"
   description = "Cal Raijin Taiko's upcoming and past performances."
   image = URI.join(root_url, image_path("logo.png"))

   meta title: title,
   description: description,
   og: {
   title: title,
   description: description,
   image: image
   }
%>

<header>
  <h1 class="link-header"><%= link_to "Upcoming Performances", '/performances/upcoming' %></h1>
</header>
<%= render 'performances_feed', performances: @upcoming %>

<header>
  <h1 class="link-header"><%= link_to "Past Performances", '/performances/past' %></h1>
</header>
<%= render 'performances_feed', performances: @past %>

<% if user_signed_in? %>
<%= link_to "Add New Performance", new_performance_path, class: "add-new" %>
<% end %>
