:ruby
  title = @performance.title + ' | Cal Raijin Taiko'
  description = @performance.description
  image = @performance.banner.url(:display)

  meta title: title, description: description,
       og: { title: title, description: description, image: image,
             url: request.original_url }

- if user_signed_in?
  .row
    .column.small-12
      %ul.button-group.radius
        - unless @performance.published?
          %li
            = link_to 'Publish', performance_publish_path(@performance),
              class: 'button small success', method: :post,
              data: { confirm: 'Publish this performance?' }
        %li
          = link_to 'Edit', edit_performance_path(@performance),
            class: 'button small'
        %li
          = link_to 'Delete', performance_path(@performance),
            class: 'button small alert', method: :delete,
            data: { confirm: 'Delete this performance?' }

= render 'show', performance: @performance

- if @performance.performance_videos.any?
  %header.row
    %h2.column.small-12 VIDEOS
  %section.perf-videos.row.text-left
    - @performance_videos.each do |video|
      = render 'performance_videos/show', performance_video: video

.comments.row
  .column.small-12
    #disqus_thread
      :javascript
        var disqus_shortname = 'caltaiko';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] ||
        document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();

      %noscript Please enable JavaScript to view the comments

      %a.dsq-brlink{ href: 'http://disqus.com' } Comments powered by Disqus
