.row
  %ul.accordion.column.small-12{ data: { accordion: '' }, role: 'tablist' }
    - by_key.each do |key, objects|
      %li.accordion-navigation
        = link_to key, "#panel#{id}#{key.gsub(' ', '_')}", role: 'tab'
        - haml_tag :div, id: "panel#{id}#{key.gsub(' ', '_')}", role: 'tabpanel',
          class: "content #{'active' if key.to_s == active_key.to_s}" do
          = render partial, objects: objects
