<nav id="nav-bar">
  <div class="link", id="home-page">
    <%= link_to "HOME", root_url, "data-no-turbolink" => true %>
  </div>
  <div class="link", id="members-page">
    <%= link_to "MEMBERS", '/members' %>
    <ul id="members-dropdown">
      <li><%= link_to "CURRENT", '/members/current' %></li>
      <li><%= link_to "ALUMNI", '/members/alumni' %></li>
    </ul>
  </div>
  <div class="link", id="performances-page">
    <%= link_to "PERFORMANCES", '/performances' %>
    <ul id="performances-dropdown">
      <li><%= link_to "UPCOMING", '/performances/upcoming' %></li>
      <li><%= link_to "PAST", '/performances/past' %></li>
    </ul>
  </div>
  <div class="link", id="media-page">
    <%= link_to "MEDIA", '/media' %>
  </div>
  <div class="link", id="about-page">
    <%= link_to "ABOUT US", '/about' %>
  </div>
  <div class="link", id="contact-page">
    <%= link_to "CONTACT US", '/contact' %>
  </div>
  <% if user_signed_in? %>
  <div class="link">
    <%= link_to "LOGOUT", '/logout', "data-no-turbolink" => true %>
  </div>
  <% end %>
</nav>
