<nav class="nav-bar">
  <div class="link">
    <%= link_to "Home", root_url, "data-no-turbolink" => true %>
  </div>
  <div class="link">
    <%= link_to "Members", '/members' %>
    <ul>
      <li><%= link_to "Current", '/members/current' %></li>
      <li><%= link_to "Alumni", '/members/alumni' %></li>
    </ul>
  </div>
  <div class="link">
    <%= link_to "Performances", '/performances' %>
    <ul>
      <li><%= link_to "Upcoming", '/performances/upcoming' %></li>
      <li><%= link_to "Past", '/performances/past' %></li>
    </ul>
  </div>
  <div class="link">
    <%= link_to "About Us", '/about' %>
  </div>
  <div class="link">
    <%= link_to "Contact Us", '/contact' %>
  </div>
  <% if user_signed_in? %>
  <div class="link">
    <%= link_to "Logout", '/logout' %>
  </div>
  <% end %>
</nav>
