<!DOCTYPE html>
<html>
<head>
  <ul id="nav-bar">
    <li>
      <%= link_to "Home", root_url, "data-no-turbolink" => true %>
    </li>
    <li id="members">
      <%= link_to "Members", '/members' %>
      <ul>
        <li><%= link_to "Current", '/members/current' %></li>
        <li><%= link_to "Alumni", '/members/alumni' %></li>
      </ul>
    </li>
    <li>
      <%= link_to "Performances", '/performances' %>
      <ul>
        <li><%= link_to "Upcoming", '/performances/upcoming' %></li>
        <li><%= link_to "Past", '/performances/past' %></li>
      </ul>
    </li>
    <li>
      <%= link_to "About Us", '/about' %>
    </li>
    <li>
      <%= link_to "Contact Us", '/contact' %>
    </li>
  </ul>
</head>
</html>
