<!DOCTYPE html>
<html>
<head class="header">
  <div class="links">
    <div class="link">
      <%= link_to "Home", root_url %>
    </div>
    <div class="link">
      <%= link_to "Members", '/members' %>
    </div>
    <div class="link">
      <%= link_to "Upcoming Performances", '/performances/upcoming' %>
    </div>
    <div class="link">
      <%= link_to "Past Performances", '/performances/past' %>
    </div>
    <div class="link">
      <%= link_to "About Us", '/about' %>
    </div>
    <div class="link">
      <%= link_to "Contact Us", '/contact' %>
    </div>
  </div>
</head>
</html>
