.fixed
  %nav#nav-bar.top-bar.show-for-xlarge-up(data-topbar role="navigation")
    %ul.title-area
      %li.name
        %h1
          = link_to "Cal Raijin Taiko", root_url
      %li.toggle-topbar.menu-icon
        %a(href="#{root_url}")
          %span Menu

    %section.top-bar-section
      %ul.right
        %li.has-dropdown
          = link_to "Performances", performances_path
          %ul.dropdown
            %li
              = link_to "Upcoming", "/performances/upcoming"
            %li
              = link_to "Past", "/performances/past"
        %li.has-dropdown
          = link_to "Members", members_path
          %ul.dropdown
            %li
              = link_to "Current", "/members/current"
            %li
              = link_to "Alumni", "/members/alumni"
        %li
          = link_to "Media", "/media"
        %li
          = link_to "About", "/about"
        %li
          = link_to "Contact", "/contact"
        - if user_signed_in?
          %li
            = link_to "Logout", "/logout"

.fixed.show-for-small-up.hidden-for-xlarge-up
  .off-canvas-wrap(data-offcanvas)
    .inner-wrap
      %nav.tab-bar
        %section.left-small
          %a.left-off-canvas-toggle.menu-icon
            %span

        %section.middle.tab-bar-section
          %h1.title Cal Raijin Taiko

      %aside.left-off-canvas-menu
        %ul.off-canvas-list
          %li
            %label Members
          %li
            = link_to "Current", "/members/current"
          %li
            = link_to "Alumni", "/members/alumni"
          %li
            %label Performances
          %li
            = link_to "Upcoming", "/performances/upcoming"
          %li
            = link_to "Past", "/performances/past"
          %li
            %label
          %li
            = link_to "About Us", "/about"
          %li
            = link_to "Contact Us", "/contact"

      %section.main-section
      %a.exit-off-canvas
