.off-canvas-wrap{ data: { offcanvas: '' } }
  .inner-wrap
    %nav.tab-bar.hide-for-large-up
      %section.left-small
        %a.left-off-canvas-toggle.menu-icon
          %span

      %section.middle.tab-bar-section
        %h1.title
          = link_to 'Cal Raijin Taiko', root_url

      - if user_signed_in?
        %section.right-small
          %a.right-off-canvas-toggle.menu-icon
            %span

    .fixed
      %nav.top-bar.hide-for-medium-down{ data: { topbar: '' },
        role: 'navigation' }
        %ul.title-area
          %li.name
            = link_to image_tag('logo_transparent_white.png'), root_url
            %h1
              = link_to 'Cal Raijin Taiko', root_url
          %li.toggle-topbar.menu-icon
            %a{ href: root_url }
              %span Menu

        %section.top-bar-section
          %ul.right
            %li
              = link_to 'News', articles_path
            %li.has-dropdown
              = link_to 'Performances', performances_path
              %ul.dropdown
                -# %li
                -#   = link_to 'Showcase', showcase_path
                %li
                  = link_to 'Upcoming', upcoming_performances_path
                %li
                  = link_to 'Past', past_performances_path
            %li.has-dropdown
              = link_to 'Members', members_path
              %ul.dropdown
                %li
                  = link_to 'Current', current_members_path
                %li
                  = link_to 'Alumni', alumni_members_path
                - if user_signed_in?
                  %li
                    = link_to 'Database', database_members_path
            %li.has-dropdown
              = link_to 'Media', media_path
              %ul.dropdown
                %li
                  = link_to 'Photo Galleries', media_galleries_path
                %li
                  = link_to 'Videos', media_videos_path
            %li.has-dropdown
              = link_to 'About', about_path
              %ul.dropdown
                %li
                  = link_to 'Our Team', about_path
                %li
                  = link_to 'Collegiate Taiko', collegiate_taiko_path
            %li
              = link_to 'Contact', contact_path
            - if user_signed_in?
              %li.has-dropdown
                = link_to 'Admin', '#', id: 'admin-link'
                %ul.dropdown
                  %li
                    = link_to 'Add Article', new_article_path
                  %li
                    = link_to 'Add Member', new_member_path
                  %li
                    = link_to 'Add Performance', new_performance_path
                  %li
                    = link_to 'Add Video', new_video_path
                  %li
                    = link_to 'Logout', logout_path

    %aside.left-off-canvas-menu
      %ul.off-canvas-list
        %li
          = link_to 'News', articles_path
        %li
          = link_to 'Media', media_path
        %li
          %label Members
        %li
          = link_to 'Current', current_members_path
        %li
          = link_to 'Alumni', alumni_members_path
        %li
          %label Performances
        %li
          = link_to 'Upcoming', upcoming_performances_path
        %li
          = link_to 'Past', past_performances_path
        %li
          %label
        %li
          = link_to 'About Us', about_path
        %li
          = link_to 'Contact Us', contact_path

    - if user_signed_in?
      %aside.right-off-canvas-menu
        %ul.off-canvas-list
          %li
            %label Articles
          %li
            = link_to 'Add Article', new_article_path
          %li.has-submenu
            = link_to 'Edit Article', '#'
            %ul.right-submenu
              %li.back
                = link_to 'Back', '#'
              - Article.all.each do |article|
                %li
                  = link_to article.title, edit_article_path(article)
          %li
            %label Members
          %li
            = link_to 'Add Member', new_member_path
          %li.has-submenu
            = link_to 'Edit Member', '#'
            %ul.right-submenu
              %li.back
                = link_to 'Back', '#'
              - Member.all.each do |member|
                %li
                  = link_to member.name, edit_member_path(member)
          %li
            %label Performances
          %li
            = link_to 'Add Performance', new_performance_path
          %li.has-submenu
            = link_to 'Edit Performance', '#'
            %ul.right-submenu
              %li.back
                = link_to 'Back', '#'
              - Performance.all.each do |performance|
                %li
                  = link_to performance.title,
                    edit_performance_path(performance)
          %li
            %label Videos
          %li
            = link_to 'Add Video', new_video_path
          %li.has-submenu
            = link_to 'Edit Video', '#'
            %ul.right-submenu
              %li.back
                = link_to 'Back', '#'
              - Video.all.each do |video|
                %li
                  = link_to "#{video.title} (#{video.year})",
                    edit_video_path(video)
          %li
            %label
          %li
            = link_to 'Logout', logout_path

    .devise-notice
      - if notice
        .alert-box.success{ data: { alert: '' } }
          .row
            .column.small-12
              = notice
      - if alert
        .alert-box.alert{ data: { alert: '' } }
          .row
            .column.small-12
              = alert
    %section.main-section

      = yield

    %a.exit-off-canvas
