<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <%= metamagic title: "Cal Raijin Taiko", keywords: "taiko, raijin, cal, berkeley, japanese, music, caltaiko" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag '/favicon.ico' %>
    <%= favicon_link_tag 'favicon.png', :rel => 'icon', :type => 'image/png' %>

  </head>

  <body>
    <div id="page-wrapper">
      <div id="content-wrapper">

        <%= link_to image_tag("banner.png", :id => "banner"), root_url,
        "data-no-turbolink" => true %>

        <header id="nav-header">
          <%= render "layouts/header" %>
        </header>

        <div class="devise-notice">
          <% if notice %>
          <p class="alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
          <p class="alert-danger"><%= alert %></p>
          <% end %>
        </div>

        <div id="page-content">
          <%= yield %>
        </div>

      </div>

      <footer id="social-media">
        <%= render "layouts/footer" %>
      </footer>

    </div>
  </body>

</html>
