<!DOCTYPE html>
<html>
<head>
  <title>Cal Taiko</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag '/favicon.ico' %>
  <%= favicon_link_tag 'favicon.png', :rel => 'icon', :type => 'image/png' %>

</head>
<%= render "layouts/header" %>
<body>
  <%-# All these divs are used to keep the footer at the bottom of the page, as per https://gist.github.com/mokagio/1918937 %>
  <div class="container">
    <div class="content">
      <div class="wrapper">
        <div class="proper-content">
          <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
          <% end %>

          <%= yield %>
        </div>
        <div class="push"></div>
      </div>
      <div class="footer-wrapper">
        <%= render "layouts/footer" %>
      </div>
    </div>
  </div>
</body>

</html>
