<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Cal Raijin Taiko</title>
    <meta property="og:image" content="<%= URI.join(root_url, image_path("logo.png")) %>" />
    <meta property="og:title" content="Cal Raijin Taiko" />
    <meta property="keywords" content="taiko, raijin, cal, berkeley, japanese, music, caltaiko" />
    <meta name="description" property="og:description" content="Founded in 2005, Cal Raijin Taiko is UC Berkeley's Japanese drumming performance ensemble." />
    <meta property="og:url" content="http://caltaiko.herokuapp.com" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag '/favicon.ico' %>
    <%= favicon_link_tag 'favicon.png', :rel => 'icon', :type => 'image/png' %>

  </head>

  <body>
    <div id="page-wrapper">
      <div id="content-wrapper">

        <%= link_to image_tag("logo.png", :id => "logo"), root_url,
        "data-no-turbolink" => true %>

        <header id="nav-header">
          <%= render "layouts/header" %>
        </header>

        <div class="devise-notice">
          <% if notice %>
          <p class="alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
          <p class="alert-danger"><%= alert %></p>
          <% end %>
        </div>

        <div id="page-content">
          <%= yield %>
        </div>

      </div>

      <footer id="social-media">
        <%= render "layouts/footer" %>
      </footer>

    </div>
  </body>

</html>
