<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Cal Raijin Taiko</title>
    <meta property="og:image" content="<%= image_tag("logo.png") %>" />
    <meta property="og:title" content="Cal Raijin Taiko" />
    <meta name="description" property="og:description" content="Founded in 2005, Cal Raijin Taiko is UC Berkeley's Japanese drumming performance ensemble." />
    <meta property="og:url" content="http://caltaiko.herokuapp.com" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag '/favicon.ico' %>
    <%= favicon_link_tag 'favicon.png', :rel => 'icon', :type => 'image/png' %>

  </head>
  <div id="page-wrapper">
    <div id="content-wrapper">
      <%= link_to image_tag("logo.png", :id => "logo"), root_url, "data-no-turbolink" => true %>
      <br>
      <div id="header-wrapper">
        <%= render "layouts/header" %>
      </div>

      <body>
        <div class="devise-notice">
          <% if notice %>
          <p class="alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
          <p class="alert-danger"><%= alert %></p>
          <% end %>
        </div>

        <div id="page-content">
          <%= yield %>
        </div>
      </body>
    </div>
    <div id="footer-wrapper">
      <%= render "layouts/footer" %>
    </div>
  </div>
</html>
