!!!
%html{ lang: 'en-US' }
  %head
    %meta{ charset: 'utf-8' }
    = metamagic title: 'Cal Raijin Taiko',
      keywords: 'taiko, raijin, cal, berkeley, japanese, music, caltaiko'

    = stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track' => true
    = stylesheet_link_tag 'datepicker-classic', media: 'all',
      'data-turbolinks-track' => true

    = javascript_include_tag :modernizr
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    = render 'layouts/prefetch'
    = render 'layouts/favicons'

    %meta{ name: 'mobile-web-app-capable', content: 'yes' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    %link{ rel: 'import', href: asset_path('components.html') }

  %body{ class: controller.controller_name, id: controller.action_name }
    = render 'layouts/navbar'
    = render 'members/dialog'

    - if notice
      %paper-toast{ opened: '', duration: '6000' }
        %span.notice-text Success!
        = notice
    - if alert
      %paper-toast{ opened: '', duration: '6000' }
        %span.alert-text Error
        = alert
