<!DOCTYPE html>
<html>
<head>
  <title>Cal Taiko</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag '/favicon.ico' %>
  <%= favicon_link_tag 'favicon.png', :rel => 'icon', :type => 'image/png' %>

</head>
<div id="page-wrapper">
  <div id="content-wrapper">
    <%= link_to image_tag("logo.png", :id => "logo"), root_url %>
    <br>
    <div id="header-wrapper">
      <%= render "layouts/header" %>
    </div>
    <body>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

      <div class="devise-notice">
        <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>

      <div id="page-content">
        <%= yield %>
      </div>
    </body>
  </div>
  <div id="footer-wrapper">
    <%= render "layouts/footer" %>
  </div>
</div>
</html>
