%section.alumni
  - members.each do |member|
    %article.alumnus(itemscope itemtype="http://schema.org/Person")
      = link_to member_path(member) do
        .link-wrapper
          %p(itemprop="name")= member.name
          - if user_signed_in?
            %section.edit-icons
              = link_to image_tag("icons/edit.png"), edit_member_path(member)
              = link_to image_tag("icons/delete.png"),
                member_path(member), method: :delete,
                data: { confirm: "Are you sure you'd like to delete member #{member.name}?" }
