.row
  %section.current-members.small-12.large
    %ul.small-block-grid-2.medium-block-grid-4.xlarge-block-grid-5
      - members.each do |member|
        %li
          %article.member
            .member-image
              %a(href="#" data-reveal-id="#{member.slug}")
                = image_tag(member.avatar.url(:thumb))
              %a.text-link.hide-for-medium-down(href="#" data-reveal-id="#{member.slug}")= member.name

            - if user_signed_in?
              .icons.hide-for-medium-down.row
                = link_to edit_member_path(member), class: "text-right column small-6" do
                  %i.fi-pencil
                = link_to members_path(member), method: :delete, class: "column small-6",
                  data: { confirm: "Are you sure you'd like to delete member '#{member.name}'?" } do
                  %i.fi-trash
            .hide-for-large-up
              %p.name= member.name

  - members.each do |member|
    .reveal-modal.medium(data-reveal id="#{member.slug}")
      = render "members/show", member: member
      %a.close-reveal-modal.hide-for-large-up &#215;
