%section.member-data
  %table.data-table.hover
    %thead
      %tr
        %th Name
        %th Gen
        %th Major
        %th Email
        %th Phone
    %tbody
      - members.each do |member|
        %tr
          %td= member.name
          %td= member.gen
          %td= member.major
          %td= member.email
          %td= member.format_phone
