= simple_form_for @member do |f|
  .row
    .column.small-12
      = f.error_notification
    .large-6.small-12.column
      = f.input :name, placeholder: 'Full Name'
    .large-1.small-3.column
      = f.input :gen
    .large-5.small-9.column
      = f.input :major, placeholder: 'Major'

    .large-7.small-12.column
      = f.input :email, placeholder: 'Email Address'

    .large-12.small-12.column
      = f.input :bio

    .small-7.column
      = f.input :avatar
    .small-2.column
      = f.input :delete_avatar, as: :boolean
    .small-2.column
      = f.input :current

  .row
    .column.small-5.large-4
      = f.button :submit, class: 'button small'
    .column.small-7.large-8
      = link_to 'Cancel', members_path, class: 'button small disabled'
