= simple_form_for @member do |f|

  = f.input :name

  = f.input :email

  = f.input :gen

  = f.input :major

  = f.input :bio

  = f.input :avatar
  = f.input :delete_avatar, as: :boolean

  = f.input :current

  = f.button :submit
