= simple_form_for @member do |f|
  .row
    .large-6.column
      = f.input :name, placeholder: "Full Name"
    .large-1.column
      = f.input :gen
    .large-5.column
      = f.input :major, placeholder: "Major"

  .row
    .large-7.column
      = f.input :email, placeholder: "Email Address"

  .row
    .large-12.column
      = f.input :bio

  .row
    .large-7.column
      = f.input :avatar
    .large-2.column
      = f.input :delete_avatar, as: :boolean
    .large-2.column
      = f.input :current

  = f.button :submit
