%article.individual
  .row
    = image_tag member.avatar.url(:full),
      class: 'bio-pic small-12 large-5 column'
    .spacer.column.small-12.hide-for-large-up
      %p
    .bio-block.large-7.small-12.column
      .row
        %p.column.small-10
          %strong Name:
          %span= member.name
        %p.column.small-4
          %strong Gen:
          = link_to number_with_precision(member.gen, precision: 0),
            "#{root_url}members/gen/#{member.gen}"
        %p.column.small-8
          %strong Major:
          = member.major

        %p.bio.text-justify.column.small-12
          = member.bio

      - if user_signed_in?
        .icons.hide-for-medium-down
          = link_to member_path(member), method: :delete, class: 'right',
            data: { confirm: "Delete member '#{member.name}'?" } do
            %i.fi-trash
          = link_to edit_member_path(member), class: 'right' do
            %i.fi-pencil
