.row
  %section.current-members.column.small-12
    %ul.small-block-grid-2.medium-block-grid-4.xlarge-block-grid-5
      - objects.each do |member|
        %li
          %article.member
            .member-image{ data: { name: member.name, gen: member.gen,
              gen_link: gen_members_path(member.gen), major: member.major,
              bio: member.bio, image: member.avatar.url(:full) } }
              %a= image_tag(member.avatar.url(:thumb))
              %a.text-link.hide-for-medium-down= member.name

            - if user_signed_in?
              .icons.hide-for-medium-down.row
                = link_to edit_member_path(member),
                  class: 'text-right column small-6' do
                  %i.fi-pencil
                = link_to member_path(member), method: :delete,
                  class: 'column small-6',
                  data: { confirm: "Delete member '#{member.name}'?" } do
                  %i.fi-trash
            .hide-for-large-up
              %p.name= member.name
