.generation(itemscope itemtype="http://schema.org/Organization")
  %header.row
    %h2.column.small-12 GENERATION #{@gen}

  %meta(itemprop="name" content="Generation #{@gen}")

  - if @members.length > 0
    = render "current_members", members: @members
  - else
    %p(id="nice-try-wise-guy")= "Unfortunately, there are not yet any members of Generation #{@gen}. Please check back again in #{2005 + @gen.to_i}!"
