:ruby
  title = 'Members | Cal Raijin Taiko'
  description = 'The members of Cal Raijin Taiko.' \
    ' Since the founding of the group in 2005, each year has seen the' \
    ' introduction of a new generation of team members.'
  image = URI.join(root_url, image_path('logo.png'))

  meta title: title, description: description,
       og: { title: title, description: description, image: image,
             url: request.original_url }

%header.row
  %h1.large-11.column= link_to 'CURRENT MEMBERS', '/members/current'
  - if user_signed_in?
    = link_to 'Add Member', new_member_path,
      class: 'button small round column hide-for-medium-down large-1'

= render 'current_members', members: @current

= render 'gens', gens: @gens

%header.row
  %h1.large-11.column= link_to 'ALUMNI', '/members/alumni'
  - if user_signed_in?
    = link_to 'Add Member', new_member_path,
      class: 'button small round column hide-for-medium-down large-1'

= render 'alumni_members', members: @alumni
