<%
   title = "Cal Raijin Taiko | Members"
   description = "The members of Cal Raijin Taiko."
   image = URI.join(root_url, image_path("logo.png"))

   meta title: title,
   description: description,
   og: {
   title: title,
   description: description,
   image: image,
   url: root_url + "members"
   }
%>

<header>
  <h1 class="link-header"><%= link_to "Current Members", '/members/current' %></h1>
</header>
<%= render 'current_members', members: @current %>

<header>
  <h1 class="link-header"><%= link_to "Alumni", '/members/alumni' %></h1>
</header>
<%= render 'alumni_members', members: @alumni %>

<% if user_signed_in? %>
<%= link_to "Add New Member", new_member_path, class: "add-new" %>
<% end %>
