<h1>Current Members</h1>
 
<div class="members-wrapper">
  <% @members.each do |member| %>
    <div class="person-wrapper">
      <div class="element-wrapper">
        <%= link_to image_tag(member.avatar.url(:thumb), :class => "avatar"), member_path(member) %>
      </div>
      <% if user_signed_in? %>
      <div class="element-wrapper">
          <ul>
            <li><%= link_to 'Show', member_path(member) %></li>
            <li><%= link_to 'Edit', edit_member_path(member) %></li>
            <li><%= link_to 'Delete', member_path(member),
                    method: :delete, data: { confirm: 'Are you sure you\'d like to delete member ' + member.name + '?' } %></li>
          </ul>
      </div>
      <% end %>
    </div>
    <% end %>
</div>

<% if user_signed_in? %>
  <%= link_to "Add New Member", new_member_path %>
<% end %>
