:ruby
  title = 'Members | Cal Raijin Taiko'
  description = 'The members of Cal Raijin Taiko.' \
    ' Since the founding of the group in 2005, each year has seen the' \
    ' introduction of a new generation of team members.'
  image = URI.join(root_url, image_path('logo.png'))

  meta title: title, description: description,
       og: { title: title, description: description, image: image,
             url: request.original_url }

%header.row
  %h1.large-12.column
    = link_to 'CURRENT MEMBERS', current_members_path
    - if user_signed_in?
      .right
        = render 'layouts/button_link', link: new_member_path,
          tooltip: 'Create a new member', link_class: 'add-button',
          button: 'plus'

= render 'thumbs_with_modals', objects: @current

= render 'gens', gens: @gens

%header.row
  %h1.large-12.column
    = link_to 'ALUMNI', alumni_members_path
    - if user_signed_in?
      .right
        = render 'layouts/button_link', link: new_member_path,
          tooltip: 'Create a new member', link_class: 'add-button',
          button: 'plus'

= render 'layouts/accordion', by_key: @by_gen, active_key: @active_gen,
  partial: 'members/thumbs_with_modals', id: 1
