<%
   title = "Cal Raijin Taiko | " + @member.name
   description = "View the member bio for " + @member.name
   image = @member.avatar.url(:full)

   meta title: title,
   description: description,
   og: {
   title: title,
   description: description,
   image: image,
   url: root_url + "member/" + @member.slug
   }
%>


<article class="individual">
  <%= image_tag @member.avatar.url(:full) %>

  <div class="bio-info">
    <p>
      <strong>Name:</strong>
      <%= @member.name %>
    </p>
    <p>
      <strong>Gen:</strong>
      <%= number_with_precision(@member.gen, precision: 0) %>
    </p>
    <p>
      <strong>Major:</strong>
      <%= @member.major %>
    </p>

    <p><%= @member.bio %></p>
  </div>
</article>

<nav class="nav-buttons">
  <%= link_to 'Back', members_path %>
  <% if user_signed_in? %>
  <%= link_to 'Edit', edit_member_path(@member) %>
  <% end %>
</nav>

