<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Gen:</strong>
  <%= number_with_precision(@member.gen, precision: 0) %>
</p>

<p>
  <strong>Major:</strong>
  <%= @member.major %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @member.bio %>
</p>

<%= image_tag @member.avatar.url(:medium) %><br>

<%= link_to 'Back', members_path %>
<%= link_to 'Edit', edit_member_path(@member) %>
